<div style="z-index: 10000; height: 1px; background: url('/assets/images/cocktailmini_background.jpg')no-repeat; background-size : cover;"></div>
<div class="page__hero--overlay" style="background-size: 1000px; background-repeat: repeat-x; background-position: top right; background-image: url('/assets/images/cocktailmini_background02.jpg');">
  <div class="wrapper">
    <h1 id="page-title" class="page__title" itemprop="headline">
      Cocktail Mini
    </h1>
    <p class="page__lead">Experience the Cocktail Cloud</p>
  </div>
</div>
